<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <script>
        const http = new XMLHttpRequest();
        const url='http://localhost:8080/test';
        http.open("POST", url);
        http.send();

        http.onreadystatechange = (e) => {
            document
                .getElementById("output")
                .innerHTML = http.responseText;
        }
    </script>
<!--
    <script>
        const http = new XMLHttpRequest();
        const url='http://localhost:8080/test-with-cors';
        http.open("POST", url);
        http.send();

        http.onreadystatechange = (e) => {
            document
                .getElementById("output_cors")
                .innerHTML = http.responseText;
        }
    </script>
-->

</head>
<body>
    <div id="output"></div>
    <div id="output_cors"></div>
</body>
</html>
